<style>
    .borderd{
       border-bottom: 1px solid gray;
    }
    .img-patient{
        width : 200px;
    }
    </style>
    <h2 align="center">Patient Form</h2>
    <div class="row">
        <div class="grid-md-8 card ">
            <div class="patientForm-headline borderd">
                <h3>Add New Patient</h3>
                <div class="pull-right mar-top-44px">
                   <button tc-camera class="btn btn-sky-blue" ng-model="patient.photoString" confirm-text="Confirm">Photo</button>
                </div>
            </div>
            <form name="form.patientForm" class="patientForm margin-10 " novalidate>
                <div class="row">
                    <div class="grid-md-1"></div>
                    <div class="grid-md-9 no-padding">
                        <div class="row">
                            <label class="grid-md-4" for="patientName">Patient Name*</label>
                            <div class="grid-md-8 no-padding">
                                <input id="patientName" type="text" class="form-field grid-md-12"
                                    name="patientName" placeholder="Patient Name"  ng-pattern = "/^[a-zA-Z\s]*$/"
                                    ng-model="patient.name" required> 
                                <span ng-messages="form.patientForm.patientName.$error" class="alert-msg" ng-messages-multiple>
                                    <span ng-message="required">*Name is Required.</span>
                                    <span ng-message="pattern">*Enter charachters only.</span>
                                </span>
                                <!-- <span class="alert-msg" ng-show="form.patientForm.patientName.$error.required">*Name is Required.</span>
                                <span class="alert-msg" ng-show="form.patientForm.patientName.$error.pattern">*Enter charachters only.</span> -->
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="aadhar">Aadhar No*</label>
                            <div class="grid-md-8 no-padding">
                                <input id="aadhar" type="text" class="form-field grid-md-12"
                                    name="aadhar" placeholder="Aadhar No" ng-pattern="/^[0-9]*$/"
                                    ng-blur="isAdhaarExists(patient.adharNo)"
                                    ng-model="patient.aadharNo" ng-maxlength="12" maxlength="12" ng-disabled="isAdhaarDisabled" required>
                                <span class="error-msg">{{adhaarMsg}}</span>
                                <span class="alert-msg" ng-messages="form.patientForm.aadhar.$error" ng-messages-multiple>
                                    <span ng-message="required">*Aadhar No is Required.</span> 
                                    <span ng-message="pattern">*Enter valid Number.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="mobileNo">Mobile No*</label>
                            <div class="grid-md-8 no-padding">
                                <input id="mobileNo" type="text" class="form-field grid-md-12"
                                    name="mobileNo" placeholder="Mobile No"
                                    ng-model="patient.mobileNo" ng-pattern="/^[0-9]*$/"
                                    ng-maxlength="10" maxlength="10" required>
                                     <span
                                    class="alert-msg" ng-messages="form.patientForm.mobileNo.$error" ng-messages-multiple>
                                    <span ng-message="required">*Mobile No is Required.</span> <span
                                    ng-message="pattern">*Enter 10 digits Mobile Number.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="altMobileNo">Alt No</label>
                            <div class="grid-md-8 no-padding">
                                <input id="altMobileNo" type="text" class="form-field grid-md-12"
                                    name="altMobileNo" placeholder="Alt Mobile No"
                                    ng-model="patient.alternateNo" ng-pattern="/^[0-9]*$/"
                                    ng-maxlength="10" maxlength="10">
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="altMobileNo">Emergency No</label>
                            <div class="grid-md-8 no-padding">
                                <input id="emergencyNo" type="text" class="form-field grid-md-12"
                                    name="emergencyNo" placeholder="Emergency No"
                                    ng-model= "patient.emergencyNo" ng-pattern="/^[0-9]*$/"
                                    ng-maxlength="10" maxlength="10">
                            </div>
                        </div>
    
                        <div class="row">
                            <label class="grid-md-4" for="village">Village*</label>
                            <div class="grid-md-8 no-padding">
                                <input id="village" type="text" class="form-field grid-md-12" ng-pattern="/^[a-zA-Z]*$/"
                                    name="village" placeholder="Village" ng-model="patient.village"
                                    required> 
                                <span class="alert-msg" ng-messages="form.patientForm.village.$error" ng-messages-multiple>
                                    <span ng-message="required">*Village is Required.</span>
                                    <span ng-message="pattern">*Enter a valid name.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="dob">DOB -- Age*</label>
                            <div class="grid-md-8 no-padding">
                                <div class="row no-padding">
                                    <div class="grid-md-6 no-padding relative">
                                        <tc-date-picker placeholder="Choose a date" ng-model="patient.dob" ng-change="getAgeFromDob(patient.dob)"></tc-date-picker>
                                    </div>
                                    <span class="grid-md-1 no-padding text-center">--</span>
                                    <div class="grid-md-5 no-padding">
                                        <input type="text" class="grid-md-12 form-field" name="age"
                                            ng-change="getDateFromAge(patient.age)" placeholder="Age"
                                            ng-model="patient.age" required>
                                            <span class="alert-msg" ng-messages="form.patientForm.age.$error" ng-messages-multiple>
                                                <span ng-message="required">*Age is Required.</span>
                                                <span ng-message="pattern">*Enter a valid Age.</span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="grid-md-4" for="gender-rltn">Gender --
                                Relation</label>
                            <div class="grid-md-8 no-padding">
                                <div class="row no-padding">
                                    <div class="grid-md-4 no-padding show-inline">
                                        <select class="grid-md-12 form-field" ng-model="patient.gender"
                                            ng-options="genderType for genderType in genderTypes"></select>
                                    </div>
                                    <label class="grid-md-1 text-center show-inline no-padding"
                                        for="relationType"> -- </label>
                                    <div class="grid-md-3 no-padding show-inline">
                                        <select class="grid-md-12 form-field"
                                            ng-model="patient.relationType"
                                            ng-options="relationType for relationType in relationTypes"></select>
                                    </div>
                                    <div class="grid-md-4 no-padding  pull-right">
                                        <input id="relationName" type="text"
                                            class=" form-field grid-md-12" name="age"
                                            placeholder="Relation Name" ng-model="patient.relationName">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row ">
                            <label class="grid-md-4"></label>
                            <button class="btn btn-light-green" name="patientFormBtn" ng-disabled="form.patientForm.$invalid || adhaarMsg"
                                ng-click="addPatient();">{{patient.id? 'Update': 'Save'}}</button>
                        </div>
                    </div>
                    <div class="grid-md-1"></div>
                    
                </div>
            </form>
        </div>
        <div class="grid-md-4">
            <div ng-if="!patient.id">
                <img class="grid-md-12" ng-src="{{patient.photoString}}" alt="Click capture to see preview" />
            </div>
            <div ng-if="patient.id && !patient.photoString">
                <img ng-src="./patient/getphoto?patientId={{ patient.id }}" class="img-patient" style="border:2px solid gray">
            </div>
            <div ng-if="patient.id && patient.photoString">
                <img ng-src="{{patient.photoString}}" class="img-patient" style="border:2px solid gray">
            </div>
        </div>
    </div>
    