<head>
    <style>
    .medicine-list-header{
        padding: 10px;
        box-shadow: 0px 2px 4px 0px #ddd;
        border: 1px solid #ddd;
    }
    .med-loc-hover{
        background-color: dodgerblue;
        padding: 6px;
        left: 115px;
        color: #fff;
        top: 5px;
        z-index:10;
        position: absolute;
        display: none;
    }
    .med-loc{
        color:dodgerblue;
        cursor: pointer;
    }
    .med-loc:hover .med-loc-hover{
        display: block !important;
    }
    </style>
    </head>
    <div class="row no-padding">
        <div class="card min-height relative">
            <div class="grid-md-8">
                <div class="no-padding row">
                    <div class="grid-md-4">
                        <label for="customerName"><b>Doctor Medicine Category</b></label>
                        <select id="customerName" class="form-field grid-md-12" ng-change="searchPurchaseBillMedicines()" ng-model="medicineSearch.doctorCategory" ng-options="option.id as option.categoryName for option in doctorMedicineCategoryList track by option.id"></select>
                    </div>
                    <div class="grid-md-2">
                        <label for="category"><b>Category</b></label>
                        <select id="category" class="form-field grid-md-12" ng-change="searchPurchaseBillMedicines()" ng-model="medicineSearch.category" ng-options="option.id as option.category for option in medicineCategoryList track by option.id"></select>
                    </div>
                    <div class="grid-md-3">
                        <label for="medicineName"><b>Medicine Name</b></label>
                        <input id="medicineName" placeholder="Medicine Name" ng-change="searchPurchaseBillMedicines()" type="text" class="form-field grid-md-12" ng-model="medicineSearch.medicineName" />
                    </div>
                    <div class="grid-md-3">
                        <label for="medicineFormula"><b>Medicine Formula</b></label>
                        <input id="medicineFormula" placeholder="Medicine Formula" ng-change="searchPurchaseBillMedicines()" type="text" class="form-field grid-md-12" ng-model="medicineSearch.drugContent" />
                    </div>
                </div>  
                
                <div class="grid-md-12 vertical-scroll card-full-height-75" scroller-api="scollerApi" when-scrolled="fetchMoreMedicineProduct()">
                    <div ng-repeat="pmsr in purchaseMedicineSearchResults"  class="medicine-card">
                        <div class="row no-padding med-loc">
                            <div class="med-loc-hover">
                                <span class="grid-md-12">Location Name:{{pmsr.location}}</span>
                            </div>
                           <div class="grid-md-12 pointer-cursor" ng-dblclick="selectPurchaseMedicineProduct(pmsr)">
                               <strong class="row no-padding">
                                   <span class="grid-md-4 ">{{pmsr.name | uppercase}}
                                       
                                   </span>
                                   <span class="grid-md-1 padding-5 color-brick">{{pmsr.expiryMonth}}/{{pmsr.expiryYear}}</span>
                                   <span class="grid-md-3 padding-5 color-sky-blue"> {{pmsr.batch}}</span> 
                                   <span class="grid-md-1 padding-5 color-green">{{pmsr.available}}</span>
                                   <span class="grid-md-3 text-center padding-5 bg-color-violet"><i class="fa fa-inr"></i> {{pmsr.mrp/pmsr.noOfUnits | number:2}}/-</span> 
                               </strong>
                               <div class="row no-padding">
                                    <div class="color-grey font-10">{{pmsr.drugName |tcCamelCase}}</div>
                              </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
            
            <form class="grid-md-4 prescription-card card" ng-class="{'expanded': expanded.prescription}" ng-if="prescription.prescriptionMedicines.length" name="productsForm">
                <i class="fa pull-right pointer-cursor" ng-class="{true: 'fa-compress', false: 'fa-expand'}[expanded.prescription]" ng-click="toggleSelectedList()"></i>
                <table class="table">
                    <tr>
                        <th>S.No</th>
                        <th>Medicine</th>
                        <th ng-show="expanded.prescription">Batch</th>
                        <th ng-show="expanded.prescription">Avl <span class="grid-md-5 pull-right">Qty</span></th>
                        <th> Unit Cost</th>
                        <th ng-show="expanded.prescription">à°‰</th>
                        <th ng-show="expanded.prescription">à°®</th>
                        <th ng-show="expanded.prescription">à°¸à°¾</th>
                        <th ng-show="expanded.prescription">à°°à°¾</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat-start="sm in prescription.prescriptionMedicines track by $index">
                        <td>{{$index+1}}</td>
                        <td>
                            <div>{{sm.medicineName | uppercase}}</div>
                            <div class="color-grey font-10">{{sm.drugContent |tcCamelCase}}</div>
                        </td>
                        <td ng-show="expanded.prescription">{{sm.batch}}</td>
                        <td ng-show="expanded.prescription" class="grid-md-2 line-height-30">
                            {{sm.available}}
                            <input type="number" class="form-field grid-md-5 pull-right" min="1" max="{{sm.available}}" ng-change="getPrescriptionTotal()" placeholder="Qty" ng-model="sm.quantity" required/>
                        </td>
                        <td>{{(sm.mrp/sm.noOfUnits) | number: 2}}</td>
                        <td style="width: 70px" ng-show="expanded.prescription">
                            <dosage-input medicine-category="sm.category" dosage-remarks="sm.dosageMorningRemarks" is-dosage-selected="sm.dosageMorning" dosage="sm.dosageMorningDescription"></dosage-input>
                        </td>
                        <td style="width: 70px" ng-show="expanded.prescription">
                            <dosage-input medicine-category="sm.category" dosage-remarks="sm.dosageAfterNoonRemarks" is-dosage-selected="sm.dosageAfterNoon" dosage="sm.dosageAfterNoonDescription"></dosage-input>
                        </td>
                        <td style="width: 70px" ng-show="expanded.prescription">
                            <dosage-input medicine-category="sm.category" dosage-remarks="sm.dosageEveningRemarks" is-dosage-selected="sm.dosageEvening" dosage="sm.dosageEveningDescription"></dosage-input>
                        </td>
                        <td style="width: 70px" ng-show="expanded.prescription">
                            <dosage-input medicine-category="sm.category" dosage-remarks="sm.dosageNightRemarks" is-dosage-selected="sm.dosageNight" dosage="sm.dosageNightDescription"></dosage-input>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-red" ng-click="unSelectPurchaseMedicineProduct($index)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-info" ng-click="showRemarks=!showRemarks" ng-show="expanded.prescription">
                                <i class="fa fa-comment"></i>
                            </button>
                        </td>
                    </tr>
                    <tr><td ng-if="sm.category=='Inj.'" class="color-red" colspan="10"><strong>Note:please Select the syrange</strong></td></tr>
                    <tr ng-show="showRemarks" ng-repeat-end>
                        <td colspan="5">
                        <td colspan="4"><input type="text" ng-show="expanded.prescription" class="form-field grid-md-12" ng-model="sm.remarks" placeholder="Enter Dosage Descrption for {{sm.medicineName}}"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" ng-show="!expanded.prescription"><strong>Prescription Amount : {{finalTotal| number:2}} </strong></td>
                        <td colspan="10" ng-show="expanded.prescription"><strong>Prescription Amount : {{finalTotal| number:2}} </strong></td>
                        <td><button class="btn btn-green btn-md pull-right" ng-disabled="productsForm.$invalid" ng-click="onSaveClick()">{{saveBtnTxt}}</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>